<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="60; url=/confirmation">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/rotate.css' %}"/>
    <title>TIKTALK - LOGIN</title>
</head>
<body>
     <div class="container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
     </div>
     <div class="wait-el">PLEASE WAIT 
        <div id="dot1" style="display:inline-block">.</div>
        <div id="dot2" style="display:inline-block">.</div>
        <div id="dot3" style="display:inline-block">.</div>
        <div id="dot4" style="display:inline-block">.</div></div>
        <div class="awhile-el">BE PATIENT , THIS MAY TAKE AWHILE .</span></div>
   
   <!--  <script>
       setTimeout(function(){
          window.location.href = '/confirmatio' ;
       }, 5000);
     </script> -->
</body>
</html>